boto3
cryptography==41.0.4
Flask==2.2.5
fuzzywuzzy==0.18.0
gdown==3.11.1
ipython==8.10.0
jinja2==3.0
pandas==1.0.5
pdf2image==1.13.1
pdfminer.six==20221105
pyOpenSSL==23.2.0
python-Levenshtein==0.12.0
requests==2.31.0
tabula-py==2.1.1
tqdm==4.48.0
traitlets==5.4
urllib3==1.26.18
xlrd==1.2.0
