gdown==3.11.1
jupyter
tqdm==4.48.0
xlrd==1.2.0
pandas==1.0.5
farm==0.5.0
optuna==2.0.0
Flask==2.3.2
pyspellchecker==0.5.5
spacy==2.3.2
MarkupSafe==2.0.1
boto3==1.18.15
scikit-learn==0.24.1
protobuf==3.20.0
urllib3==1.25.9
